
<h2> @ViewBag.Result.Status</h2>
<h2> @ViewBag.Result.Message</h2>
<hr/>

<div>
    <ul>
        <li>Id: @ViewBag.Result.Data.Id</li>
        <li>Name: @ViewBag.Result.Data.Employee_name</li>
        <li>Salary: @ViewBag.Result.Data.Employee_salary</li>
        <li>Age: @ViewBag.Result.Data.Employee_age</li>
    </ul>
</div>