

<h2>Status: @ViewBag.Result.Status</h2>
<h3>Message: @ViewBag.Result.Message</h3>
<hr />
<div>
    <table class='table-bordered table-success table-responsive-sm table-striped'>
        <tr>
            <th  class='p-2 text-center'>ID</th>
            <th class='p-2 text-center'>Employee_name</th>
            <th class='p-2 text-center'>Employee_salary</th>
            <th class='p-2 text-center'>Employee_age</th>
            <th class='p-2 text-center'>Employee_image</th>
        </tr>

   @if(ViewBag.Result != null)
    @foreach (var item in  (List<EmployeeDetails>)ViewBag.Result.Data)
   {
      <tr>
            <td class='p-4 text-center'>@item.Id</td>
            <td  class='p-4 text-center'>@item.Employee_name</td>
            <td  class='p-4 text-center'>@item.Employee_salary</td>
            <td  class='p-4 text-center'>@item.Employee_age</td>
            <td>
                <button type="button" class="btn btn-primery">
                    @Html.ActionLink("EmployeeDetails", "EmployeeDetails", "Home", new { id = item.Id }, null)
                </button>

            </td>
      </tr>
   }

    </table>

</div>


